body {
    margin: 100px 0 0;
    padding: 300;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.centered-container {
    text-align: center;
}


h1 {
    
    display: flex;
    color: #28d0ee;
    margin-bottom: 2; 
    align-items:right;
    
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container-content {
    max-width: 800px; /* Adjust the max-width as needed */
    width: 100%;
}
